:root {
  --color-red: #f00;
}

:root a {
  --color-blue: #00f;
}

:root ul, :root li {
  --color-green: #0f0;
}

:host { color: green; }
:host(:hover) { color: blue; }

h1 {}
h1.title {}
h2#thing {}
#thing h3 {}

.a, .b, .c {}

@media screen and (max-width: 42rem) {
  :host {
    .thing > x-here {}
  }
  #another .thing > x-here {}
}

.stuff:nth-child(even) {}

.stuff:nth-last-child(even) {}

.stuff:nth-of-type(2) {}

.stuff:nth-last-of-type(2) {}

.stuff:not(p) {}
